/* Typography */

html {
	font-family: 'Roboto', sans-serif;
}

@media (min-width: 576px) {
	html {
		font-size: 14px;
	}
}

@media (min-width: 768px) {
	html {
		font-size: 16px;
	}
}

@media (min-width: 992px) {
	html {
		font-size: 18px;
	}
}

@media (min-width: 1200px) {
	html {
		font-size: 20px;
	}
}

@font-face {
    font-family: "Folk Solid";
    src: url("../fonts/Folksolid.woff2") format("woff2"), url("../fonts/Folksolid.ttf")  format("truetype");
}

.icons-social i {
	font-size: 3em;
}

/* Custom Styles */

main {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	justify-content: center;
	padding: 0 30px;
	text-align: center;
}

main > .intro {
	font-family: 'Londrina Shadow', cursive;
	font-size: 3.75em;
}

main > .intro2 {
	font-family: 'Folk Solid';
	font-size: 4em;
}

main > .tagline {
	font-size: 1.5rem;
	margin: 1.5rem 0;
	font-weight: 100;
}

.icons-social i {
	padding: 10px;
}

img {
	border-radius: 50%;
	height: 8em;
  }

.devto {
	margin-bottom: -0.20rem;
}

.devto svg {
	margin-bottom: -0.20rem;
	margin-left: 0.675rem;;
	width: 2.65rem;
	height: 2.65rem;
}

footer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 0 30px;
	text-align: center;
}

.impressummail:after {
	content: attr(data-name) "@" attr(data-domain) "." attr(data-tld); 
}

.impressumphone:after {
	content: attr(data-countrycode) attr(data-citycode) attr(data-number); 
}

.impressumcontact:after {
	content: attr(data-fullname) "; " attr(data-street) "; " attr(data-city); 
}

.impressumsteuerid:after {
	content: attr(data-steueridcountry) attr(data-steueridnumber); 
}
